<ion-view view-title="RONCO DO MAR" class="">
<ion-content has-header="false" has-bouncing="false" class="contact-page">
<div class="featured-image">
	<img ng-src="{{imgroot + infos.image}}" alt="" class="fullwidth-image">
</div>
<div class="content padding">
	<p>A opção ideal para desconectar da rotina e vivenciar uma experiência única.
		#VemViverOLadoBomDaVida
	</p>
	<p>Toda Sexta-feira das 19:30 às 1:30. Barraca Marulho.</p>
	<div class="thumb" ng-repeat="foto in fotos"><img ng-src="fotos/{{foto}}.jpg"/></div>
	<p class="text-center center"><a href="https://www.instagram.com/roncodomar/" target="_blank"><img src="img/insta-btn.png"></a></p>
</div>

</ion-content>
</ion-view>