<ion-view view-title="Home" id="home" hide-nav-bar="true" class="ionview-with-patbg">
<ion-content has-header="false" has-bouncing="false">
	<div class="row">
		<div class="col"> <br/>  <br/> 
			<center><img src="img/logo.png" class="app-logo"></center>
		</div>
	</div>	
	<div class="app-tag-line row">
		<div class="col">
			<!-- <img src="img/tag.png" alt="Tag">
			<span class="app-tag-text">at your fingertips! </span> -->
            <br/>  <br/> 
        <button class="button button-full button-assertive" ui-sref="app.about">
        Conheça o restaurante
        </button>
                  <button ui-sref="app.cardapio" class="button button-full button-assertive"> Nosso cardápio</button> 
          <br/>
     
		</div>		
	</div>
	
	
</div>
</ion-content>
</ion-view>