<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-assertive">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <cartt-btn ng-if="getTotal"></cartt-btn>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" class="ion-side-menu">
    <ion-content>
      <div class="row">
        <div class="app-logo">
          <a ui-sref="app.userPage" menu-toggle="left"><img src="img/logo-cut.png"></a>
        </div>
      </div>
      <ion-list>
  
        
        <ion-item menu-close ui-sref="app.about">
          <!-- <i class="icon ion-information-circled"></i> --> O Evento
        </ion-item>
        <ion-item menu-close ui-sref="app.cardapio">
            <!--  <i class="icon ion-pizza"></i> --> Cardápio
           </ion-item>

      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu side="right" class="ion-side-menu" >
    <ion-content has-bouncing="false">
      <ion-list>
      
        <ion-item
          ng-repeat="cat in cats"
          class="item-checkbox item-cat">
          <label class="checkbox">
             <input type="checkbox"
              ng-model="filterCattest[cat.CATP_Nome]"
              ng-change="filteration(cat.CATP_CodigoCategoria)">
          </label>
          <span ng-bind="cat.CATP_Nome"></span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
